<div class="bg-secondary">
    <section class="container my-5 d-flex flex-wrap">
        <h2 class="text-center my-5 w-100">Our Best Projects</h2>
        <p class="text-center mx-auto w-75 mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quisquam! Libero porro aut quod vel ad et necessitatibus placeat, architecto minima quia rem repellendus excepturi quasi vitae corrupti in recusandae!</p>
        <article class="d-flex flex-column article-project col-lg-4 col-md-12 mb-5">
            <div class="img-project-container z-depth-1">
                <img class="img-project" src="https://thumbs.dreamstime.com/b/peque-o-gatito-poco-en-el-fondo-blanco-aislado-gato-lindo-animal-joven-dom%C3%A9stico-nacional-gatitos-piel-felina-pata-peludo-149199391.jpg" alt="gatito">
            </div>
            <div class="d-flex flex-column align-items-center pb-0 content-project">
                <h2 class="my-3 text-center">Ttitle of the news</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsum, assumenda provident expedita natus et fuga.</p>
                <a href="#">View Project</a>
            </div>
        </article>
        <article class="d-flex flex-column article-project col-lg-4 col-md-12 mb-5">
            <div class="img-project-container z-depth-1">
                <img class="img-project" src="https://thumbs.dreamstime.com/b/peque-o-gatito-poco-en-el-fondo-blanco-aislado-gato-lindo-animal-joven-dom%C3%A9stico-nacional-gatitos-piel-felina-pata-peludo-149199391.jpg" alt="gatito">
            </div>
            <div class="d-flex flex-column align-items-center pb-0 content-project">
                <h2 class="my-3 text-center">Ttitle of the news</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsum, assumenda provident expedita natus et fuga.</p>
                <a href="#">View Project</a>
            </div>
        </article>
        <article class="d-flex flex-column article-project col-lg-4 col-md-12 mb-5">
            <div class="img-project-container z-depth-1">
                <img class="img-project" src="https://thumbs.dreamstime.com/b/peque-o-gatito-poco-en-el-fondo-blanco-aislado-gato-lindo-animal-joven-dom%C3%A9stico-nacional-gatitos-piel-felina-pata-peludo-149199391.jpg" alt="gatito">
            </div>
            <div class="d-flex flex-column align-items-center pb-0 content-project">
                <h2 class="my-3 text-center">Ttitle of the news</h2>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ipsum, assumenda provident expedita natus et fuga.</p>
                <a href="#">View Project</a>
            </div>
        </article>
        
    </section>
</div>