*{
    font-family: 'Frank Ruhl Libre', serif;
}
.first-container{
    height: 500px;
    background: linear-gradient(rgba(5,7,12,0.20), rgba(5,7,12,0.60)),
     url(/assets/images/sky-image.jpeg) no-repeat center fixed;
    background-size:cover;
}
.presentation-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}
.container-descripcion{
    flex-basis: 100%;
}