<app-nav></app-nav>
<app-header></app-header>
<app-about-me class="about-me"></app-about-me>
<app-education-section id="education-section"></app-education-section>
<div class="container-style container d-flex flex-wrap justify-content-around">
    <app-experience-section class="d-inline-block col-sm-12 col-md-5 border-style"></app-experience-section>
    <app-skills-section id="skill-section" class="d-inline-block col-sm-12 col-md-5 border-style"></app-skills-section>
</div>
<app-projects-section id="projects-section"></app-projects-section>