<div class="background-container">
    <div *ngIf="formSwitchCrear || formSwitchUpdate" class="form-container">
        <form id="myForm" [formGroup]="form"  class="container d-flex flex-wrap flex-column gap-3 form-create color-style2 text-center mb-4" (ngSubmit)="updateCurso($event)">
            <button *ngIf="formSwitchCrear" class="button-close mx-auto" (click)="cerrarFormCrear()" type="button">
                <i class="fa-solid fa-xmark"></i>
            </button>
            <button *ngIf="formSwitchUpdate" class="button-close mx-auto" (click)="cerrarFormUpdate()" type="button">
                    <i class="fa-solid fa-xmark"></i>
            </button>
            
            <h3 *ngIf="formSwitchCrear">Crear Curso</h3>
            <h3 *ngIf="formSwitchUpdate">Actualizar Curso</h3>
            <label for="nombre" >
                Nombre de curso:
                <input *ngIf="formSwitchCrear" class="input-create" formControlName="nombre" type="text" id="nombre" name="nombre" placeholder="nombre">
                <input *ngIf="formSwitchUpdate" class="input-create" formControlName="nombre" type="text" id="nombre" name="nombre" placeholder="">
            </label>
            <label for="descripcion">
                Descripcion:
                <input *ngIf="formSwitchCrear" class="input-create" formControlName="descripcion" type="text" id="descripcion" name="descripcion" placeholder="descripcion">
                <input *ngIf="formSwitchUpdate" class="input-create" formControlName="descripcion" type="text" id="descripcion" name="descripcion" placeholder="">
            </label>
            
            <div formArrayName="lenguajesAprendidos" class="d-flex justify-content-center align-items-center gap-3">
                    <div class="d-flex flex-column gap-3"> 
                        <label *ngFor="let leng of lenguajesAprendidos.controls; let i = index" class="d-flex flex-wrap gap-2">
                            Lenguaje {{i+1}}:
                            <input *ngIf="formSwitchCrear" class="input-create" type="text"placeholder="{{i+1}}" formControlName="{{i}}">
                            <input *ngIf="formSwitchUpdate" class="input-create" type="text"placeholder="{{i+1}}" formControlName="{{i}}">
                            <button *ngIf="i !== 0" type="button" (click)="quitarLenguaje(i)" class="button-delete">
                                <i class="fa-solid fa-trash-can"></i>
                            </button>
                        </label>
                        
                    </div>
                    <button type="button" (click)="anadirLenguaje()" class="button-create">
                        <i class="fa-regular fa-square-plus"></i>
                    </button>
            </div>
            <label for="img">
                Url de imagen:
                <input *ngIf="formSwitchCrear" class="input-create" formControlName="img" type="text" id="img" name="img" placeholder="img">
                <input *ngIf="formSwitchUpdate" class="input-create" formControlName="img" type="text" id="img" name="img" placeholder="">
            </label>
            <div class="mt-4">
                <button *ngIf="formSwitchCrear  && obtenerCurrentUserLength() > 1" class="button-create mx-auto me-4" (click)="crearCurso($event)" type="submit">Crear</button>
                <button *ngIf="formSwitchUpdate" class="button-create mx-auto me-4" type="submit">Actualizar</button>
            </div>
        </form>
    </div>
    <section *ngIf="!formSwitchCrear || formSwitchUpdate" class="container py-5 d-flex flex-wrap justify-content-center gap-5">
        <h3 class="text-center w-100">Education Section</h3>
            <article *ngFor="let curso of arrayCursos" class="article-education my-5">
                <div class="image-container px-5" (click)="onClick(curso)">
                    <img class="img-article" [src]="curso.img" alt="curso imagen">
                </div>
                <div class="description-container" (click)="onClick(curso)">
                    <h4 class="text-center pb-2 fs-4 color-style2">{{curso.nombre}}</h4>
                    <p class="text-center px-4 color-style">{{curso.descripcion}}
                    </p>
                    <h5 class="text-center fs-6 pt-2 pb-2 mb-0 color-style2">Lenguajes aprendidos</h5>
                    <ol class="text-center ol-lenguages p-0 pb-4 color-style">
                        <li *ngFor="let lenguaje of curso.lenguajesAprendidos">{{lenguaje}}</li>
                    </ol>
                </div>
                <div *ngIf="curso?.id == selection && obtenerCurrentUserLength() > 1"  class="buttons d-flex gap-3 justify-content-center">
                    <button (click)="eliminarCurso(curso.id)" type="button" class="button-delete mb-2">Delete</button>
                    <button (click)="abrirFormUpdate()" type="button" class="button-update mb-2">Update <i class="fa-regular fa-pen-to-square"></i></button>
                    <button (click)="onClick(0)" type="button" class="button-close px-2 mb-2">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
            </article>
            <div class="w-100 text-center">
                <button *ngIf="obtenerCurrentUserLength() > 1" (click)="abrirFormCrear()" type="button" class="button-create mt-3 mb-2">Create</button>
            </div>
    </section>
</div>
