.contenedor-percentage,.percentage-container,.percentage,.water{
    display: flex;
    justify-content: center;
    align-items: center;
}
.article-container{
    position: relative;
    min-width: 90px;
    /* max-width: 150px; */
    flex-basis: 50%;
    height: max-content;
}

.main-container{
    width: 100%;
    min-height: max-content;
}
.color-style{
    color: rgba(118, 123, 126, 0.747);
    font-weight: bold;
}
.color-style2{
    color: #7a7673;
    font-weight: bold;
}
.main-title, .skill-title{
    flex-basis: 100%;
    height: min-content;
    margin: 0;
    
}

.percentage-container{
    width: 100%;
    min-width: 90px;
    max-width: 130px;
    height: 120px;
    background-color: rgb(82, 116, 116);
    border-radius: 100%;
    overflow: hidden;
    position: relative;
}
.percentage-container::after{
    content: "";
    position: absolute;
    height: 100%;
    width:100%;
    border-radius: 100%;
    box-shadow: inset -0.5px -0.5px 15px 4px #b8b1b13b;
}

.percentage{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(76, 81, 83, 0.301), rgba(0, 0, 0, 0.733)), no-repeat url(../../../assets/images/isla.png);
    background-size: cover;
    align-items: flex-end; 
    overflow: hidden;
}
.button-delete,.button-update,.button-create, .button-close{
    height: 30px;
    border: none;
    border-radius: .25rem;
    color: #7a7673;
}

.form-create{
    border: .9px solid rgba(0, 77, 128, 0.329);
}
.input-create{
    color: rgb(148, 148, 148);
    border: none;
    border-radius: .1rem;
    background-color: transparent;
    border-bottom: 2px solid rgb(83, 78, 78);
}
.input-create:focus-visible{
    outline: none;
}
.input-create:focus{
    background-color: #2a413980;
}
.button-delete{
    background-color: rgb(119, 54, 34);
}
.button-update{
    background-color: rgb(51, 61, 117);
}
.button-create{
    color: rgb(167, 165, 161);
    background-color: rgb(51, 110, 64);
}
.button-close{
    background-color: rgb(99, 32, 32);
}

/*Animations*/

@keyframes flotar {
    0%{
        margin-top: 0;
    }
    50%{
        padding-top: 5px;
    }
    100%{

    }
}
.water{
    font-family:sans-serif;
    font-size: 1.5em;
    color: rgb(146, 148, 155);
    position: relative;
    justify-content: center;
    background: rgba(46, 88, 59, 0.486);
    background: linear-gradient(0deg, rgba(39,39,75,1) 0%, rgba(38, 90, 79, 0.836) 100%);
    width: 100%;
    animation: flotar 1.5s linear infinite;
    box-sizing: content-box;
    overflow: hidden;
}
.percentage-num{
    color: rgba(118, 123, 126, 0.747);
}
.bubble{
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgb(96,118,135);
    background: radial-gradient(circle, rgba(105, 123, 138, 0.719) 0%, rgba(162, 169, 175, 0.356) 0%, rgba(61, 100, 130, 0.315) 100%);
    width: 7px;
    height: 6px;
    border-radius: 100px;
    animation: animarbubble 3s linear infinite;
}

.bubble:last-child{
    left: 115px;
}
.bubble:nth-child(2){
    left: 60px;
    bottom: 10px;
}
.bubble:nth-child(3){
    left: 75px;
    bottom: 20px;
}
.bubble:nth-child(4){
    left: 85px;
}
.bubble:nth-child(5){
    left: 94px;
}
.bubble:nth-child(6){
    left: 110px;
    bottom: 50px;
}
.bubble:nth-child(7){
    left: 23px;
}
.bubble:nth-child(8){
    left: 50px;
}
@keyframes animarbubble {
    0%{

    }
    100%{
        opacity: .1;
        bottom: 100%;
    }
}
