<nav class="navbar navbar-expand-sm navbar-dark navbar-styles">
    <div class="container p-0">
      <a href="#"><img src="/assets/images/argentina-programa.png" alt="Logo" class="logo-image"></a>
      <button class="navbar-toggler button-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="25" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav gap-2">
          <a class="nav-link text-center" (click)="goToEducation()">Education</a>
          <a class="nav-link text-center" (click)="goToSkills()">Skills</a>
          <a class="nav-link text-center" (click)="goToProjects()">Projects</a>
          <a class="nav-link text-center" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>